* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a, a:hover, a:link {
    text-decoration: none;
}

i {
    font-style: normal;
}

/**********************nabBar***********************/
.navBar {
    width: 100%;
    /*height: 50px;*/
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0px;
    z-index: 9;
    text-align: center;
}

.navBar .nav li a {
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    color: #FFFFFF;
}

.navBar .nav li:hover a,
.navBar .nav li.active a {
    background-color: #FFFFFF;
}

.navBar .area {
    float: right;
    color: #FFFFFF;
    font-size: 14px;
    /*cursor: pointer;*/
    position: relative;
}

.navBar .area li {
    float: left;
    margin-right: 10px;
    line-height: 50px;
}

.navBar .area a {
    color: #fff;
}

.navBar .area a i {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.navBar .area .weather {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 310px;
    height: 300px;
    border-radius: 5px;
    /*top: 100px;*/
    right: 90px;
    text-align: left;
    display: none;
    transition: all 2s;
    overflow: hidden;
}

@keyframes hiddens{
    from{
        /*height: 0;*/
        top: 70px;}
    to{
        /*height: 300px;*/
        top: 50px;}
}
.navBar .area li:nth-of-type(1):hover .weather {
    display: block;
    animation: hiddens 0.5s;
}


.navBar .area .weather .today {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    margin: 10px 10px 0 10px;
    padding-bottom: 5px;

}

.navBar .area .weather .today span {
    font-size: 30px;
    padding-right: 30px;
}

.navBar .area .weather .today i {
    margin-left: 10px;
}

.navBar .area .weather .today p {
    margin: 0;
    line-height: 30px;
    text-align: left;
}

.navBar .area .weather .today p i {
    margin: 0;
    padding-right: 20px;
}

.navBar .area .weather .Fweathers {
    margin: 0 10px 10px 10px;
}

.navBar .area .weather .Fweathers li {
    float: none;
    line-height: 40px;
    border-bottom: 1px dashed hsla(0, 0%, 100%, 0.1);
}

.navBar .area .weather .Fweathers li i:nth-of-type(1) {
    padding-left: 50px;
}

.navBar .area .weather .Fweathers li i:nth-of-type(2) {
    float: right;
    margin-right: 30px;
}

/****************************************/
section:nth-of-type(1) {
    width: 100%;
    height: 655px;
    overflow: hidden;
    position: relative;
}

section:nth-of-type(1).active {
    height: 760px;
}

.fullBg {
    width: 100%;
    height: 100%;
}

.fullBg li {
    width: 100%;
    height: 100%;
    display: none;
    background: no-repeat;
    background-size: cover;
    position: relative;
}

.fullBg li.active {
    display: block;
}

.fullBg li div {
    width: 40%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -20%;
    display: block;
    color: #FFFFFF;
}

.fullBg li #fullDiv {
    display: none;
}

.fullBg li div h4 {
    font-size: 22px;
    line-height: 50px;
}

.fullBg li:nth-of-type(1) h4 a {
    display: inline-block;
    background-color: #fff;
    color: #f55021;
    padding: 0 5px 0 25px;
    line-height: 30px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 40px;
    position: relative;
}

.fullBg li:nth-of-type(1) h4 a i {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 5px;
}

section:nth-of-type(1) .tab-content {
    height: 100%;
}

section:nth-of-type(1) .tab-content div + div {
    position: absolute;
    top: 0;
}

/***********************home*************************/
#home {
    height: 100%;
}

#home .homeArrow {
    position: absolute;
    right: 5%;
    bottom: 50px;
}

#home .homeArrow a {
    display: inline-block;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: 0 10px;
}

#home .homeArrow a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

#home .me {
    /*width:250px;*/
    position: fixed;
    right: 0px;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#home .me .meTitle {
    float: left;
    text-align: center;
}

#home .me .meTitle ul {
    margin: 0px;
}

#home .me .meTitle li {
    border-bottom: 1px solid #FFFFFF;
    width: 50px;
    height: 50px;
}

#home .me .meTitle span {
    padding: 5px 0px;
    width: 50px;
    line-height: 20px;
    display: inline-block;
}

#home .me .meTitle span:hover {
    background-color: #666666;
    color: #FFFFFF;
}

#home .me .meTitle li i {
    margin-top: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: no-repeat;
    background-size: 40px 40px;
}

#home .me .meTitle li + li {
    display: none;
}

#home .meContent {
    margin-left: 50px;
    height: 200px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#home .meContent div {
    width: 200px;
    height: 200px;
    display: none;
    /*background-color: rgba(0, 0, 0, 0.6);*/
}

#home .meContent div.active {
    display: block;
}

#home .meContent div + div {
    background: no-repeat;
    background-size: 200px 200px;
}

#home .meContent #aboutMe h5 {
    line-height: 50px;
    margin-top: 0;
}

/**********************canI************************/
#canI .canContent {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

#canI .canContent ul {
    margin: 0 auto;
    height: 300px;
}

#canI .canContent li {
    float: left;
    width: 200px;
    line-height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 20px 50px 0 50px;
    font-size: 30px;
}

#canI .canContent li:hover {
    box-shadow: 5px 5px 10px #666;
    background-color: rgba(0, 0, 0, 0.4);
}

#canI .canList div {
    position: fixed;
    width: 50%;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -25%;
    display: none;
    background: url("../img/shu.png") no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
}

#canI .canList div iframe {
    width: 100%;
    height: 100%;
    background-color: transparent;
}