<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
		<script src="./js/angular.min.js"></script>
		<script src="./js/angular-route.min.js"></script>
		<script src="./js/lodash.min.js"></script>
	</head>
	<body ng-app="app" ng-controller="Ctrl">

	<div ng-view></div>

	<script type="text/ng-template" id="template">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus
				ng-keyup="addList($event)" ng-model="msg">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->

			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox" ng-click="toggleAll()" ng-checked="getItemsNum()===0">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li ng-repeat="item in data | filter:selector track by $index" ng-class="{completed: item.isCompleted,editing:item.isEditing}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="item.isCompleted" ng-change="toggle()">
							<label ng-dblclick="dbclick(item)">{{item.text}}</label>
							<button class="destroy" ng-click="delClick($index)"></button>
						</div>
						<input class="edit" ng-keyup="editClick($event,item)" ng-model="item.text" ng-blur="blur(item)">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{getItemsNum()}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#!/">All</a>
					</li>
					<li>
						<a href="#!/active">Active</a>
					</li>
					<li>
						<a href="#!/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="allClear()">Clear completed</button>
			</footer>
		</section>
	</script>

		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!--<script src="node_modules/todomvc-common/base.js"></script>-->
		<script src="js/app.js"></script>
	</body>
</html>
