div#controller {
    width: 800px;
    height: 80px;
    position: relative;
    font-family: "segoe script";
    background: linear-gradient(to right bottom, darkcyan, lightseagreen);
    border-radius: 5px 5px 0 0;
}
/*          点击暂停开始    */

a#play_pause_btn {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 10px;
    top: 8px;
    display: inline-block;
}

a#play_pause_btn img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
/*      显示时间    */

span#music_time {
    position: absolute;
    right: 310px;
    top: 10px;
}

span#music_name {
    position: absolute;
    left: 90px;
    top: 10px;
}
/*      音乐进度   */

progress#music_progress {
    width: 400px;
    height: 5px;
    -webkit-appearance: none;
    position: absolute;
    left: 90px;
    top: 50px;
}

progress#music_progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 5px;
}

progress#music_progress::-webkit-progress-value {
    background-color: #3f55a7;
    border-radius: 5px;
}
/*       音量调节大小  */

progress#voice {
    width: 200px;
    height: 5px;
    -webkit-appearance: none;
    position: absolute;
    right: 10px;
    top: 45px;
}

progress#voice::-webkit-progress-bar {
    background-color: white;
    border-radius: 5px;
}

progress#voice::-webkit-progress-value {
    background-color: #e72568;
    border-radius: 5px;
}
/*  音量按钮*/

span#voice_tb {
    position: absolute;
    right: 220px;
    top: 40%;
}
div#musicplayer div.tusiji{
    width: 800px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 0;
    /*opacity: 0.1;*/
    z-index: 1;
    display: none;
}
div#musicplayer div.tusiji img{
    width: 48%;
    height: 100%;
    /*display: inline-block;*/
}

div.songs{
    width: 800px;
    height: 350px;
    /*background: linear-gradient(to right top, deeppink, white);*/
    background-color: lightseagreen;
    border-radius:0 0 5px 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 11;
    opacity: 0.9;
}

div.songs span.song{
    display: inline-block;
    opacity: 0.9;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    color:darkred;
    overflow: hidden;
    cursor: pointer;
    font-size: 20px;
    /*font-weight: 600;*/
}
div.songs span.song:nth-of-type(odd) {
    background-color:white;
}
div.songs span.song:nth-of-type(even) {
    background-color: darkcyan;
}

div#musicplayer{
    width: 800px;
    height: 600px;
    position: relative;
    margin: 20px auto;
}

/*----------*/
div.xiaobing{
    width: 600px;
    height: 400px;
    margin: 50px auto;
    overflow: hidden;
}
canvas#donghua{
    background-color: rgba(255,255,255,1);
}
